# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.RedisConnecion.iml
# Datasource local storage ignored files
/../../../../../../../:\.NET\Probs\RedisConnecion\.idea\.idea.RedisConnecion.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
